<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             logFile="proxy_log.log"
             mustMatch="true">
    <serverUrls>
	    
        <serverUrl url="http://192.168.100.247"
                   matchAll="true"/>
		
		<serverUrl url="http://geocode.arcgis.com"
                   matchAll="true"/>
				   
		<serverUrl url="http://localhost"
                   matchAll="true"/>
				   
        <serverUrl url="http://mail.ru"
                   matchAll="true"/>
				   
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
